
<section class="row">
	<section class="col-md-10 col-md-offset-1 margin-top-25 padding-30 policy">
	
		<h1>Política de cookies</h1>

		<p>
			BackToMe (en adelante <strong>B2M</strong>) utiliza cookies para mejorar la experiencia en la navegación de los usuarios. Las cookies nos ayudan a personalizar los servicios ofrecidos brindando a los usuarios los mejores de nuestros servicios y proporcionando información que pueda ser de su interés en función del uso que realiza de la aplicación.
		</p>
		<p>
			Las cookies se asocian únicamente a un usuario y su dispositivo de navegación y proporcionan referencias que permitan deducir datos personales del usuario. El usuario podrá configurar su navegador para que notifique o rechace la instalación de las cookies enviadas por el sitio web. En caso de no permitir el uso de cookies, <strong>B2M</strong> no se hace responsable de la pérdida de rendimiento y funcionalidades de la aplicación.
		</p>

		<h2>Tipos de cookies</h2>
			<p>
				Navegar a través de <strong>B2M</strong> supone que se puedan instalar los siguientes tipos de cookies:
			</p>
				<ul>
					<li><h4>Análisis estadístico</h4>
						<p>Son aquellas que, bien tratadas por nosotros o terceros, recopilan estadísticas e información sobre el comportamiento de los usuarios de la aplicación. Se tratan de cookies totalmente anonimizadas, es decir, no se encuentran asociadas a ningún dato de carácter personal que permitan identificar al usuario.</p>
					</li>
					<li><h4>Registro</h4>
						<p>Cuando inicie sesión en <strong>B2M</strong> se generarán unas cookies encargadas de identificar al usuario. Son utilizadas para identificar su cuenta de usuario y los servicios asociados, facilitando así su navegación. Estas cookies se mantienen mientras usted no abandone la cuenta o borre la caché de navegación. Estas cookies pueden ser utilizadas en combinación con datos analíticos para identificar de manera individual sus preferencias en nuestro portal.</p>
					</li>
					<li><h4>Publicitarias</h4>
						<p>Pueden ser tratadas por nosotros o por terceros. Se encargan de gestionar los espacios publicitarios de la aplicación adecuando el contenido de los anuncios al comportamiento que realiza a través de internet.</p>
						</li>
					<li><h4>De terceros</h4>
						<p>Pueden instalarse cookies de terceros que permiten gestionar y mejorar los servicios ofrecidos por <strong>B2M</strong>. Como pueden ser cookies de redes sociales.</p>						
					</li>
				</ul>

		<h2>Actualización</h2>
			<p>
				<strong>B2M</strong> se reserva el derecho de modificar esta Política de Cookies en función de las exigencias legislativas, reglamentarias, o con la finalidad de adaptar dicha política a las instrucciones dictadas por la Agencia Española de Protección de Datos, por lo que se aconseja a los usuarios que la visiten con perioicidad.
			</p>

		<h2>Consentimiento</h2>
			<p>
				Para información de los usuarios, al acceder a <strong>B2M</strong> se muestra un banner (en la web en la parte inferior, en el móvil al realizar el registro de usuario) donde se informa de la existencia de esta Política de Cookies y de que el usuario debe estar conforme con ella.
			</p>
			<p>
				Entendemos que, </strong>si continúa navegando y haciendo uso de B2M</strong>, después de leerse la presente Política de Cookies <strong>usted la acepta y permite la instalación de cookies en sus dispositivos</strong>.				
			</p>
			<h2>
				Atte. El equipo de <strong>B2M</strong>
			</h2>

	</section>
</section>