
<section class="row">
	<section class="col-md-10 col-md-offset-1 margin-top-25 padding-30 policy">
	
		<h1>Política de privacidad</h1>

		<p>
			Bienvenido a nuestra Política de privacidad de BackToMe (en adelante <strong>B2M</strong> ). La Política de privacidad le ayudará a tomar mejores decisiones informadas en cuanto a su relación con nosotros, por lo que le recomendamos que la lea detenidamente al igual que nuestros Términos y condiciones de uso mencionados también en esta sección.
		</p>

		<h2>BackToMe y legislación</h2>
			<p>
				BackToMe es una marca perteneciente a Alejandro Sánchez Muñoz, DNI: 486695XX-X, con domicilio social en Alicante, constituida conforme a la la legislación española.
			</p>
			<p>
				Con carácter general, las relaciones con nuestros clientes, que se deriven de la prestación de los servicios, están sometidas a la legislación y la jurisdicción española. En caso de resolución de conflicto entre las partes será necesario acudir a los juzgados y tribunales del domicilio de <strong>B2M</strong> , Alicante.
			</p>


		<h2>Información recopilada</h2>

			<p>
				Podemos recopilar y almacenar la siguiente información:
			</p>
				<ul>
					<li><h4>Datos de registro</h4>
						<p>Al registrarse en la aplicación se le solicitará dicha información, como, por ejemplo, nombre, contraseña, email y teléfono. En su caso, también podemos recopilar otro tipo de información que esté disponible en su cuenta de aplicaciones de terceros, como Facebook.
						Toda esta información puede modificarla de manera voluntaria desde su perfil. Para ofrecer un mejor servicio recomendamos utilizar datos reales de la persona registrada.</p>
					</li>
					<li><h4>Anuncios publicados</h4>
						<p>Toda la información sumistrada en los anuncios será utilizada para ofrecer un mejor servicio de la aplicación.</p>
					</li>
					<li><h4>Uso de datos y cookies</h4>
						<p>Al usar el Servicio, o interactuar con él, podemos usar diferentes tecnologías que recopilen información sobre el uso del servicio y el acceso a éste. Podemos recopilar la siguiente información:</p>
					</li>
					<li><h4>Dispositivo móvil</h4>
						<p>Podemos proporcionar características que dependen del uso de información adicional de su dispositivo móvil o requieren acceso a determinados servicios de su dispositivo móvil, lo que mejorará su experiencia, pero que no son obligatorias para usar el Servicio. En particular las fotos y cámara de su dispositivo, no accederemos a sus fotos ni a su cámara sin primero obtener su permiso explícito, y solo usaremos las imágenes que usted elija específicamente compartir con nosotros.</p>
					</li>
				</ul>


		<h2>Derechos ARCO</h2>
			<p>
				Puede ver y modificar gran parte de la información que obtenemos de usted a través de su cuenta y páginas de perfil. Si tiene preguntas respecto a la privacidad en el Servicio, a esta política de privacidad o a sobre la información que tenemos de usted, escríbanos a email@b2m.es.
			</p>

			<p><strong>B2M</strong> tratará todos aquellos datos de carácter presonal que los usuarios faciliten según lo previsto en la Ley Orgánica 15/1999, de 13 de Diciembre, de Protección de Datos de Carácter Personal. Dichos datos serán incorporados en un fichero informático cuyo responsable es Alejandro Sánchez Muñoz, DNI: 486695XX-X, con domicilio en Alicante, y se encuentra registrado en la Agencia Española de Protección de Datos. Sus datos serán tratados para gestionar su uso de la aplicación y poder ofrecerle nuestro mejor servicio. En este sevicio se incluye: realizar estadisticas, asi como enviarle informacion relacionada con sus anuncios que pudiera ser de su interés.</p>

			<p>Ayúdenos a mantener dichos datos actualizados comunicándonos cualquier modificación que se produzca en los mismos.</p>

			<p>Si no desea que el tratamiento de sus datos se realice con la finalidad indicada, o desea ejercitar sus derechos ARCO (acceso,rectificación cancelación u oposición) sobre ellos deberá dirigirse a la dirección email@b2m.es indicando su referencia y solicitud.</p>
			<p>
				Para cualquier comunicación le recomendamos que incluya documentos que demuestren, de manera clara, su identidad y una descripción clara y precisa de la información a la que desea tener acceso.
			</p>
			
			<h2>
				Atte. El equipo de <strong>B2M</strong>
			</h2>

	</section>
</section>